#a{
    color: #57437F;
}#a:hover{
    color: #25277A;
}
header{
    box-shadow: rgba(0, 0, 0, 0.200) 0px 0px 25px;
}
footer{
    box-shadow: rgba(0, 0, 0, 0.200) -5px -5px 25px;
    padding-top: 1rem;
}
body{
    background: rgb(87,67,127);
background: linear-gradient(90deg, rgba(87,67,127,0.17550770308123254) 0%, rgba(255,255,255,1) 50%, rgba(87,67,127,0.18391106442577032) 100%);
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }
    to {
      opacity: 1;
      scale: 100%;
    }
  }
@keyframes show2 {
    from {
      opacity: 0;
      top: -10%;
    }
    to {
      opacity: 1;
      top: 0;
    }
  }
@keyframes show3 {
    from {
      opacity: 0;
      right: -10%; 
    }
    to {
      opacity: 1;
      right: 0%;
    }
  }
@keyframes show32 {
    from {
      opacity: 0;
      right: -20%; 
    }
    to {
      opacity: 1;
      right: 0%;
    }
  }
@keyframes show4 {
    from {
      opacity: 0;
      left: -10%; 
    }
    to {
      opacity: 1;
      left: 0%;
    }
  }
@keyframes show5 {
    from {
      opacity: 0;
      bottom: -20%; 
    }
    to {
      opacity: 1;
      bottom: 0%;
    }
  }

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    animation-name: show2;
    animation-duration: 0.5s;
}





#contenedor-Nav{
    padding: 1rem;
}
/* Estilo para el contenedor del dropdown */
.dropdown-container {
    display: flex;
    align-items: center;
}

/* Estilo para el dropdown */
.dropdown-container .dropdown {
    appearance: none; /* Oculta la flecha predeterminada del navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

/* Estilo para eliminar las flechas en Firefox */
.dropdown-container .dropdown::-ms-expand {
    display: none;
}#opciones{
    border: none;
    font-size: large;
    font-weight: 500;
    text-align: center;
    margin: 0;
}
/* Para mejorar la apariencia en móviles y tablets */
@media (max-width: 991.98px) {
    #elementos-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }/* Ocultar el último li en tamaños menores a 991px */
    #elementos-nav li:last-child {
        display: none;
    }#elementos-nav .nav-item {
        margin-bottom: 0.5rem;
    }
}@media (max-width: 720px) {
    #elementos-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
    }#contenedor-Nav{
        padding: 1rem;
    }#elementos-nav li:nth-child(4) {
        display: none;
    }#elementos-nav li:nth-child(3) {
        display: none;
    }
}@media (max-width: 450px) {
    #opciones{
        font-size: 0.8rem;
    }#empresa{
        font-size: 1.3rem;
    }
}

  

#header-zone{
    background-color: #57437F;
}#titulo{
    color: white;
    font-size: 4rem;
    margin-left: 2rem;
}@media (max-width: 400px) {
    #header-zone{
        justify-content: center;
    } #titulo{
        margin-left: 0rem;
    }
}#elementos-nav{
    font-weight: 500;
}#elementos-nav li a:hover{
    #sas{
        transition: 0.5s;
        opacity: 1 !important;
    }
}#welcomeSec-Conteiner {
    background-image: url('../Css/img/backgroundsec1.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}#welcomeSec-Conteiner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}



#btn-inicio{
    background-color: #57437F;
    margin-right: 1rem;
}#btn-inicio:hover{
    background-color: #443563;
}@media (max-width: 450px) {
    #btn-inicio{
        font-size: 0.8rem;
    } 
}



#welcomeSec-Conteiner{
    background-position: center;
    background-size: cover;

    box-shadow: rgba(0, 0, 0, 0.205) 0px 10px 20px;
}.dropdown-container {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: solid rgba(0, 0, 0, 0.11) 1px;
    border-radius: 1rem;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: rgba(0, 0, 0, 0.205) 0px 0px 5px;
}.dropdown {
    margin-left: 0.6rem;
    border-radius: 5px;
    border: none;
}
#slogan-Conteiner{
    height: 90vh;
}
#slogan{
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 50%;

    opacity: 0;
    animation: fadeIn 2.5s forwards;
}@media (max-width: 600px) {
    #slogan{
        font-size: 1.2rem;
    }#slogan-Conteiner{
        width: 100%;
    }.dropdown-container {
        margin-right: 2rem;
        font-size: 0.5rem;
        font-weight: 500;
        border: solid rgba(0, 0, 0, 0.11) 1px;
        border-radius: 1rem;
        padding-left: 0px;
        padding-right: 0px;
        box-shadow: rgba(0, 0, 0, 0.205) 0px 0px 5px;
    }.dropdown {
        margin-left: 0rem;
        border-radius: 5px;
        border: none;
    }
}



#secWeb{
    margin-top: 1rem;
    padding: 3rem;
    color: #3a3a3a;

}#secWeb-titulo{
    font-weight: bold;

    position: relative;

    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show4;
    animation-range: entry 10% cover 40%;
    animation-fill-mode: both;
}#secWeb hr{
    width: 10rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}#secWeb-texto{
    font-weight:500;
    font-size: 1.8vh;
    color: rgb(90, 90, 90);

    position: relative;

    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show5;
    animation-range: entry 10% cover 40%;
    animation-fill-mode: both;
}#img-secweb{
    width: 50vh;
    
    position: relative;

    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show32;
    animation-range: entry 10% cover 40%;
    animation-fill-mode: both;
}
@media (max-width: 600px) {
    #img-secweb{
        width: 100%;
    }
}




#comoTrabajamos-titulo h2{
    margin-bottom: 1rem;
    font-weight: bold;
    margin-top: 1rem;
}#comoTrabajamos-titulo hr{
    width: 10rem;
    border: 2px solid white;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}#comoTrabajamos-desc{
    font-weight: 500;
    font-size: large;
    margin-bottom: 3rem;
}
#comoTrabajamos-Cards{
    margin-top: 1rem;
    font-weight: 500;
}#comoTrabajamos-Cards div{
    margin: 2rem;
    text-align: center;
    position: relative;
    
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show3;
    animation-range: entry 40% cover 30%;
    animation-fill-mode: both;
}#comoTrabajamos-background{
    background-color: #57437F;
}#comoTrabajamos-background{
    color: white;
    padding: 3rem;
}.comoTrabajamos-imagen img {
    height: 60vh;

    position: relative;

    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show4;
    animation-range: entry 40% cover 40%;
    animation-fill-mode: both;
}@media (max-width: 1400px) {
    #contenedor-comotrabajamos{
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 700px) {
    .comoTrabajamos-imagen img{
        width: 100%;
        height: 100%;
    }
}



#proceso-container{
    margin-left: 6%;
    margin-right: 8%;
}.proceso-trabajo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}.proceso-trabajo {
    border-radius: 15px;
    overflow: hidden;
}.proceso-trabajo h2 {
    text-align: center;
    color: #3a3a3a;
    font-weight: bold;
    position: relative;
}.proceso-trabajo hr{
    width: 7rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}#proceso-desc{
    font-size: x-large;
    font-weight: 500;
    color: rgb(90, 90, 90);
    margin-bottom: 4rem;
}.proceso-trabajo ol {
    counter-reset: step-counter;
    list-style: none;
}.proceso-trabajo li {
    counter-increment: step-counter;
    display: flex;
    align-items: center;
    background-color: #fcfcfc;
    margin-bottom: 20px;
    padding: 20px;
    border-left: 6px solid #57437F;
    border-radius: 8px;
    box-shadow: 0 2px 25px #57437f34;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}.lista-proceso p{
    margin: 0.4rem;
}.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.lista-proceso {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    height: 18vh;
    border-radius: 4rem;
}

.icono {
    font-size: 2rem;
    margin-bottom: 10px;
}

@media (max-width: 1300px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 900px) {
    .lista-proceso{
        display: flex;
        flex-wrap: wrap;
    }
    .lista-proceso p{
        font-size: small;
    }
}
@media (max-width: 1500px) {
    .lista-proceso {
        height: 20vh;
    }
}
@media (max-width: 700px) {
    .lista-proceso{
        padding: 0;
        height: 15vh;
    }
    .lista-proceso p{
        font-size: x-small;
    }.lista-proceso h3:nth-child(2){
        font-size: 0.8rem;
    }.proceso-trabajo li {
        padding: 0.6rem;
    }.grid-container {
        gap: 0;
    }
}
.proceso-trabajo li:hover {
    box-shadow: 0 4px 12px #57437f6c;
}.proceso-trabajo li::before {
    content: counter(step-counter);
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    background-color: #57437F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    flex-shrink: 0;
}.proceso-trabajo li h3 {
    color: #333;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}.proceso-trabajo li p {
    color: #666;
    line-height: 1.5;
}.proceso-trabajo .icono {
    font-size: 1em;
    color: #57437F;
    opacity: 0.8;
}



#planes-conteiner div{
    margin-bottom: 1rem;
}
#planes-titulo{
    margin-bottom: 3rem;
}#planes-titulo h2{
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 1rem;
}#planes-titulo p{
    font-weight: 500;
    font-size:x-large;
}#planes-hr{
    width: 3rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}.card:hover{
    transition: 0.5s;
    box-shadow:rgb(109, 109, 109) 7px 7px 0px;
    translate: -5px -5px;
}.card{
    width: 25rem;
    height: 100%;
    background-color: #fdfdfd;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.103) 0px 0px 15px;
    cursor: pointer;
}.card-text{
    margin-top: 7%;
}.card-title{
    font-weight: bold;
    font-size: 1.4rem;
    color: #57437F;
}.precios{
    position: relative;
    color: #7200ac;
    bottom: 1.2rem;
    font-weight: 500;
    font-size: 1.4rem;
}#mantenimiento-desc{
    font-weight: 500;
    font-size: large;
    color: rgb(90, 90, 90);
}
#mantenimiento-conteiner{
    background-color: #fdfdfd;
    width: 75%;
      padding: 3rem;
      padding-right: 1rem;
       margin-bottom: 2rem;
        border-radius: 1.5rem;
         cursor: pointer;
}#mantenimiento-conteiner:hover {
    transition: 0.5s;
    box-shadow: rgb(109, 109, 109) 7px 7px 0px;
    translate: -5px -5px;
}@media (max-width: 800px) {
    #mant-imagen {
        width: 100% !important;
    }
    #mantenimiento-conteiner {
        width: 60vh;
        flex-wrap: wrap;
        padding: 2rem;
    }.card{
        height: 65vh;
        width: 24rem;
    }.card-title{
        font-size: 1.1rem;
    }.precios{
        font-size: 1.3rem;
        bottom: 1rem;
    }.card-text{
        margin-top: 5%;
        font-size: small;
    }.card:hover{
        transition: 0s;
        box-shadow: 0px 0px 0px black;
        translate: 0px 0px;
    }#mantenimiento-conteiner:hover {
        transition: 0s;
        box-shadow: 0px 0px 0px black;
        translate: 0px 0px;
    }
}
@media (max-width: 1200px) {
    #mant-imagen {
        width: 100% !important;
    }
    #mantenimiento-conteiner {
        width: 80vh;
        flex-wrap: wrap;
        padding: 2rem;
    }
}




#who-titulo h2{
    font-weight: bold;
    margin-bottom: 1rem;
    padding-top: 3rem;
}#who-titulo hr{
    width: 10rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 40% cover 75%;
    animation-fill-mode: both;
}#who-conteiner{
    background-color: #fdfdfd;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.103) 0px 0px 15px;

    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 10% cover 40%;
    animation-fill-mode: both;
}#who-imagen{
    width: 70vh;
}
@media (max-width: 800px) {
    #who-imagen{
        width: 100%;
    }
}
@media (max-width: 1200px) {
    
    #who-conteiner{
        flex-wrap: wrap;
    }
}



#contact-Title h2{
    margin-top: 3rem;
    font-weight: bold;
    color: #3a3a3a;
    
}#contact-Title hr{
    width: 5rem;
    border: 2px solid black;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}#contact-desc{
    text-align: center;
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 5rem;
    color: rgb(90, 90, 90);
}#contactSection{
    margin-bottom: 5rem;
}#contactSection h2{
    width: 50vh;
}@media (max-width: 986px) {
    #contactSection{
        flex-wrap: wrap;
    }#contactSection h2{
        width: 100%;
        padding-bottom: 2rem;
    }
}#contactForm-Background{
    background-color: #57437F;
    padding: 2rem;
    border-radius: 2rem;
    color: white;
}#contact-Conteiner{
    margin-bottom: 5rem;
}#contact-form{
    width: 50vh;
}@media (max-width: 600px) {
    #contactForm-Background{
        width: 100%;
    }#contact-form{
        width: 100%;
    }
}

#contact-form div{
    margin-bottom: 2rem;
    text-align: center;
    
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 15% cover 25%;
    animation-fill-mode: both;
}#btn-enviar{
    border-radius: 0.3rem;
    background-color: #ffffff;
    font-weight: bold;
    color: rgb(0, 0, 0);
    height: 3rem;
    width: 6rem;
}#btn-enviar:hover{
    transition: 0.3s;
    border-radius: 0.4rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.342) 0px 0px 15px;
    height: 3rem;
    width: 6rem;
}



#footer-secciones div{
    width: 16rem;
    margin-left: 2rem;
    margin-right: 2rem;
}.footer-list h2{
    font-size: 1.7rem;
}
.footer-list a{
    display: block;
    text-decoration: none;
    margin-bottom: 0.6rem;
    color: #6024d6;
}.footer-list a:hover{
    color: black;
    transition: 0.4s;
}